{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Lock Status | KyuKey</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Salsa&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'lock/css/index.css' %}">
    </head>
    <body>
        <script>
            function get_otp(){
                $('#staticbutton').attr('style', 'display: none;');
                $('#loadingbutton').attr('style','display: block;');
                $('#generateerror').attr('style','display:none;');
                function error_response(){
                    $('#staticbutton').attr('style', 'display: block;');
                    $('#loadingbutton').attr('style','display: none;');
                    $('#generateerror').attr('style','display:block;');
                }
                $.ajax({
                    method: "POST",
                    url: "/",
                    data: {
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                    },
                    success: function(data){
                        console.log(data);
                        $('#otpholder').attr('placeholder',data['otp']);
                        $('#loadingbutton').attr('style','display: none;');
                        $('#generateerror').attr('style','display:none;');
                        $('#generatesuccess').attr('style','display:block;');
                        $('#sharebutton').attr('style', 'display: block;');
                        $('#sharebutton1').attr('style', 'display: block;');
                        $('#hrefemail').attr('href', 'share_email/'+data['otp']);
                        $('#hrefsms').attr('href', 'share_sms/'+data['otp']);
                    },
                    error: function(data){
                        console.log('Error');
                        console.log(data);
                        setTimeout(function(){
                            error_response();
                        }, 1000);                 
                    }
                })
            }
        </script>
        <div>

            <div class="heading-container">
                <div class="heading-inside">
                    <span>KyuKey</span>
                </div>
            </div>

            

            <div class="content-container">
                <div class="ham-menu">
                    <img src="{% static 'lock/images/ham.jpg' %}" onclick="toogle_hide()" height="60">
                </div>
                <div class="content-inside">
                    <div class="card1" id="user_info">
                        <div class="card1-header right-head">User Info</div>
                        <div class="card1-body status-body">
                            <div>Hi, {{user}}</div><br>
                            <!-- <div>{{user.email}}</div><br> -->
                            <div style="text-align: center;"><a class="btn btn-warning" href="/logout">Logout</a></div>
                        </div>
                    </div>
                {% if status %}
                    <div class="card1">
                        <div class="card1-header">Lock Status</div>
                        <div class="card1-body status-body"><span class="dot-green"></span>UNLOCKED</div>
                    </div>
                
                {% else %}
                    <div class="card1">
                        <div class="card1-header">Lock Status</div>
                        <div class="card1-body status-body"><span class="dot-red"></span>LOCKED</div>
                    </div>
                    <div class="card1">
                        <div class="card1-header">Unlock</div>
                        <div class="card1-body">
                            <span id="generateerror">(Unable to generate OTP)</span>
                            <input type="text" placeholder="####" id="otpholder" class="form-control" disabled>
                            <div class="form-group">
                                <button class="btn btn-primary" id="staticbutton" onclick="get_otp()">Generate KyuKey</button>
                                <button class="btn btn-warning" type="button" id="loadingbutton" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </button>
                                <span id="generatesuccess">(OTP has been successfully generated)</span>
                                <a href="" target="_blank" id="hrefemail"><button class="btn btn-success" id="sharebutton">Share via Email</button></a>
                                <a href="" target="_blank" id="hrefsms"><button class="btn btn-success" id="sharebutton1">Share via SMS</button></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <hr>
                <div style="text-align: center;">
                    <a href="lock_history" target="_blank"><button class="btn btn-primary">Lock History</button></a>
                </div>
                </div>
                </div>
            </div>

        </div>

        <script>
            function toogle_hide() {
                var x = document.getElementById("user_info");
                if (x.style.height == "auto") {
                  x.style.height = "0px";
                } else {
                  x.style.height = "auto";
                }
              }
        </script>
    </body>
</html>